<div class="container">

  <h1>Todas as Tarefas</h1>

  <hr>

  <table class="table table-striped table-condensed table-hover">

    <thead>
      <tr>
        <th><%= t ".id" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".price" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to "%03d" % task.id, edit_task_path(task.id) %></td>
        <td><%= task.name %></td>
        <td><%= number_to_currency(task.price) %></td>
        <td>
          <%= link_to 'Editar', edit_task_path(task.id), :class => "btn btn-warning" %>
          <%= link_to 'Remover', task_path(task.id), :class => "btn btn-danger", :method => :delete %>
        </td>
      </tr>
      <% end %>

      <tr>
        <td></td>
        <td><input type="text" placeholder="Nome" value="" class="input-medium"></td>
        <td><input type="text" placeholder="Preço R$" value="" class="input-medium"></td>
        <td>
          <%= link_to 'Inserir', new_task_path, :class => "btn btn-primary" %>
        </td>
      </tr>

    </tbody>

  </table>

  <hr>

</div> <!-- /container -->
