<%= form_for(@customer, :html => { :class => "form-horizontal"}) do |f| %>
  <fieldset>
    <% if @customer.errors.any? %>
    <div class="alert alert-error fade in">
      <button type="button" class="close" data-dismiss="alert">&#215;</button>
      <strong>Oops!</strong> O formulário possui <%= pluralize(@customer.errors.count, "campo") %> com problemas:</h2>
      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <legend>Preencha as informações</legend>
    
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => "Nome" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email, :placeholder => "Email" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :birth_date, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :birth_date, :placeholder => "Data de Nascimento", :class => "date" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :mobile_number, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :mobile_number, :placeholder => "Celular" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Gravar', :class => "btn btn-primary" %>
      <%= link_to 'Cancelar', customers_path, :class => "btn" %>
    </div>
  </fieldset>
<% end %>