<div class="container">

  <h1>Todos os Clientes</h1>

  <hr>

  <form class="form-search">
    <input type="text" class="input-large search-query" placeholder="Código, nome ou email">
    <button type="submit" class="btn">Buscar</button>
    <%= link_to 'Inserir novo', new_customer_path, :class => "btn btn-primary" %>
  </form>

  <p></p>

  <table class="table table-striped table-condensed table-hover">

    <thead>
      <tr>
        <th><%= t ".id" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <th><%= t ".birth_date" %></th>
        <th><%= t ".created_at" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% @customers.each do |c| %>
      <tr>
        <td><%= link_to "%03d" % c.id, edit_customer_path(c.id) %></td>
        <td><%= c.name %></td>
        <td><%= c.email %></td>
        <td><% unless c.birth_date.nil? %><%=l c.birth_date.to_date %><% end %></td>
        <td><%=l c.created_at.to_date %></td>
        <td><%= link_to 'Editar', edit_customer_path(c.id), :class => "btn btn-warning" %>
          <%= link_to 'Remover', customer_path(c.id), :class => "btn btn-danger", :method => :delete %>
      </tr>
      <% end %>
      <% unless @customers.count > 0 %>
        <tr><td colspan="6"><%=t('errors.messages.record_not_found')%></td></tr>
      <% end %>
    </tbody>

  </table>

  <hr>
</div> <!-- /container -->
