<%= simple_form_for(@item, html: { class: "form-horizontal"}) do |f| %>
  <fieldset>
    <% if @item.errors.any? %>
    <div class="alert alert-error fade in">
      <button type="button" class="close" data-dismiss="alert">&#215;</button>
      <strong>Oops!</strong>  <%= t 'errors.template.body', :count => @item.errors.count %>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <legend>Preencha as informações</legend>

    <div class="form-inputs">
      <%= f.input :name, placeholder: t(".name"), autofocus: true %>
      <%= f.input :price, :wrapper => :prepend, :label => t(".price") do %>
        <%= content_tag :span, t("number.currency.format.unit"), :class => "add-on" %>
        <%= f.input_field :price, value: number_to_currency(@item.price, unit: "") %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('helpers.submit.save'), class: "btn btn-primary" %>
      <%= link_to 'Cancelar', items_path, class: "btn" %>
    </div>
  </fieldset>
<% end %>
