<div class="container">

  <h1>Todos os Items</h1>

  <hr>

  <table class="table table-striped table-condensed table-hover">

    <thead>
      <tr>
        <th><%= t ".id" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".price" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% @items.each do |item| %>
      <tr>
        <td><%= link_to "%03d" % item.id, edit_item_path(item.id) %></td>
        <td><%= item.name %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td>
          <%= link_to t('helpers.submit.edit'), edit_item_path(item.id), :class => "btn btn-warning" %>
          <%= link_to t('helpers.submit.remove'), item_path(item.id), :class => "btn btn-danger", :method => :delete %>
        </td>
      </tr>
      <% end %>

      <tr>
        <td></td>
        <td><input type="text" placeholder="Nome" value="" class="input-medium"></td>
        <td><input type="text" placeholder="Preço R$" value="" class="input-medium"></td>
        <td>
          <%= link_to t('helpers.submit.create'), new_item_path, :class => "btn btn-primary" %>
        </td>
      </tr>

    </tbody>

  </table>

  <hr>

</div> <!-- /container -->
