<%= simple_form_for(@vehicle, html: { class: "form-horizontal"}) do |f| %>
  <fieldset>
    <% if @vehicle.errors.any? %>
    <div class="alert alert-error fade in">
      <button type="button" class="close" data-dismiss="alert">&#215;</button>
      <strong>Ooops!</strong> <%=t 'errors.template.body', :count => @vehicle.errors.count %>
      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <legend><%= t('helpers.header.fill_information')%></legend>

    <div class="form-inputs">
      <%= f.input :license_plate, placeholder: t(".license_plate"), autofocus: true %>
      <%= f.input :model, placeholder: t(".model") %>
      <%= f.input :color, placeholder: t(".color") %>
      <%= f.input :brand, placeholder: t(".brand") %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('helpers.submit.save'), class: "btn btn-primary" %>
      <%= link_to t('helpers.submit.cancel'), vehicles_path, class: "btn" %>
    </div>
  </fieldset>
<% end %>
