<div class="container">

  <h1><%= t('helpers.header.all_model', model: t('activerecord.models.vehicle'))%></h1>

  <hr>

  <form class="form-search">
    <input type="text" class="input-large search-query" placeholder="<%= t('.id') %>, <%= t('.license_plate') %> ou <%= t('.model') %>" >
    <button type="submit" class="btn">Buscar</button>
    <%= link_to t('helpers.submit.create', model: t('activerecord.models.vehicle')), new_vehicle_path, :class => "btn btn-primary" %>
  </form>

  <p></p>

  <%= render 'list', vehicles: @vehicles %>
  
  <hr>
</div> <!-- /container -->
